@model IEnumerable<Magaz.Models.Product>

@{
    ViewData["Title"] = "Каталог";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="@product.ProductUrl" class="card-img-top" alt="Изображение товара">
                    <div class="card-body">
                        <h5 class="card-title">@product.NameProduct</h5>
                        <p class="card-text">Цена: @product.Price руб.</p>
                        <a href="@Url.Action("DetailsProduct", "Catalog", new { id = product.IdProduct })" class="btn btn-desc">Подробнее</a>
                        <form asp-action="AddToBasket" asp-controller="Basket" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@product.IdProduct" />
                            <button type="submit" class="btn btn-cart">Добавить в корзину</button>
                        </form>

                        <!-- Кнопка для добавления/удаления из избранного -->
                        <a href="@Url.Action("ToggleFavorite", "Catalog", new { id = product.IdProduct })" class="btn @(product.IsFavorite ? "btn-danger" : "btn-like")">
                            @(product.IsFavorite ? "Удалить из избранного" : "Добавить в избранное")
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>